<!DOCTYPE html>
<html lang="fr">
{% load static %}
  <head>
     <meta charset="utf-8">
     <title>{% block title %} base {% endblock %}</title>
     <link rel="stylesheet" href="{% static 'css/base.css' %}">
     <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
     <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js" async></script>
     {% block cssAddition %}{% endblock %}
  </head>
  <body id="Body">
    <header>
      <div class="ui teal inverted segment">
        <div class="ui center aligned container">
          <div class="ui stackable inverted grid">
            <div class="four wide column">
              <img class="ui centered mini image" src="{% static 'img/building_logo.png' %}" alt="logoBuilding png"/>
            </div>
            <div class="eight wide column">
              <h2 class="ui inverted header">GestiFi</h2>
            </div>
            <div class="four wide column">
              <img class="ui centered mini image" src="{% static 'img/building_logo.png' %}" alt="logoBuilding png"/>
            </div>
          </div>
        </div>
      </div>
        {% block header%}
        <div class="ui center aligned container">
          <div class="ui stackable grid">
            {% if user.is_authenticated %}
              <div class="four wide column">
              </div>
              <div class="left aligned four wide column">
                <a class="item" href="{% url 'home' %}">
                  <i class="home icon"></i>
                  Home
                </a>
              </div>
              <div class="right aligned four wide column">
                <a class="item" href="{% url 'logout' %}">Logout</a>
                <span class="headerspan">{{ user.username }}</span>
              </div>
              <div class="four wide column">
              </div>
            {% else %}
              <div class="four wide column">
              </div>
              <div class="four wide column">
              </div>
              <div class="right aligned four wide column">
                <span class="headerspan">Pas conneté ?</span>
              </div>
              <div class="four wide column">
              </div>
            {% endif %}
          </div>
        </div>
        {% endblock %}
    </header>
    <main id="Body-content">
      <div class="ui container">
        <h2 class="ui blue center aligned header" id="h2BodyContent">{% block mainTitle %} base {% endblock %}</h2>
        {% block accessToContent %}
          {% if user.is_authenticated %}
            {% block content %}
              <h3 class="ui center aligned header">Base</h3>
            {% endblock %}
          {% else %}
              <h4 class="ui center aligned icon header">
                <i class="id badge icon"></i>
                Désolé, Vous devez vous connectez pour accéder au contenu du site -->
                <a class="item" href="{% url 'login' %}">Login</a>
              </h4>
          {% endif %}
        {% endblock %}
      </div>
    </main>
    <footer id="baseFooter">
      <div class="ui teal inverted segment">
        <div class="ui center aligned container">
        {% block footer %}
        <div class="ui stackable inverted divided grid">
          <div class="four wide column">
            <img class="ui centered mini image" src="{% static 'img/building_logo.png' %}" alt="logoBuilding png"/>
          </div>
          <div class="four wide column">
            <h5 class="ui inverted header">Copyright&copy; 2019</h5>
          </div>
          <div class="four wide column">
            <h5 class="ui inverted header">Aides</h5>
          </div>
          <div class="four wide column">
            <h5 class="ui inverted header"><a href="#" id="About">À propos</a></h5>
          </div>
        </div>
        {% endblock %}
        </div>
      </div>
    </footer>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    {% block javascript_jq %}
    {% endblock %}
  </body>
</html>
