{% extends "base.html" %}
{% load static %}

{% block title %} home {% endblock %}

{% block cssAddition %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock %}

{% block mainTitle %} Home page {% endblock %}

{% block content %}
<div class="ui middle aligned center aligned grid">
  <div class="column">
    <div class="raw">
      <button class="ui fluid blue large button" onclick="location.href='{% url "listCompany" %}';">
        Liste des entreprises
      </button>
    </div>
    {% if user.is_staff %}
    <div class="raw">
      <button class="ui fluid blue large button" onclick="location.href='{% url "addCompany" %}';">
        Ajouter une société
      </button>
    </div>
    <div class="raw">
      <button class="ui fluid blue large button"onclick="location.href='admin/';">
        Administration (droits utilisateurs)
      </button>
    </div>
    {% endif %}
  </div>
</div>
{% endblock %}
