{% extends "base.html" %}
{% load static %}

{% block title %} listCompany {% endblock %}

{% block cssAddition %}
<link rel="stylesheet" href="{% static 'css/listCompany.css' %}">
{% endblock %}

{% block mainTitle %} Liste des sociétés{% endblock %}

{% block content %}
  {% if user.is_staff %}
  <button class="ui blue medium button" id="btnAddCompany" onclick="location.href='{% url "addCompany" %}';">
    Ajouter une société
  </button>
  {% endif %}
  {% for company in companies %}
    <div class="ui raised segment">
      <div class="ui stackable grid">
        <div class="six wide column">
          <div class="ui medium header">{{ company.name }}</div>
          <p>{{ company.address }}</p>
        </div>
        <div class="two wide center aligned column">
          <p><b>Pays</b></p>
          <p>{{ company.country }}</p>
        </div>
        <div class="two wide center aligned column">
          <p><b>Contact</b></p>
          <p>{{ company.contact }}</p>
        </div>
        <div class="two wide center aligned column">
          {% if user.is_staff %}
          <button class="ui icon button" onclick="location.href='{% url "deleteCompany" company.id %}';">
            <i class="trash alternate icon"></i>
          </button>
          {% endif %}
        </div>
        <div class="two wide center aligned column">
          {% if user.is_staff %}
          <button class="ui icon button" onclick="location.href='{% url "editCompany" company.id %}';">
            <i class=" edit icon"></i>
          </button>
          {% endif %}
        </div>
        <div class="two wide center aligned column">
          <button class="circular large ui blue icon button" onclick="location.href='{% url "summaryCompany" company.id %}';">
            <i class=" white large chevron right icon"></i>
          </button>
        </div>
      </div>
    </div>
  {% empty %}
    <p>Aucune société dans la liste.</p>
  {% endfor %}
{% endblock %}
